/* CSS Document */

#bannerETG{
    background-image:url(../img/pina.png)!important;
    background-repeat: no-repeat;
    background-position: right;
}

#bannerMKTG{
    background-color: rgba(229, 167, 36, 1);
}
#bannerGFA{
    background-color: rgba(133, 187, 101, 1);
}
/*Porque estudiar la carrera*/
.pMKTG{
    background-color: rgba(255, 222, 89, 1);
}

.h-190{
    height: 160px;
}
/*Background*/

.bg{
    background-repeat: no-repeat;
    background-size: cover;
}


/*Competencias*/


/*Datos*/
#datos {
    background-image: url(../img/de/competencias.jpg);
    background-blend-mode: soft-light;
}

/*Footer*/

footer {
    background-color: #353535;
    
}
